/*bxslider costom  style*/
.bx-wrapper{
  box-shadow: none;
}


/*animation*/
@-webkit-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes hover-icon {
  100%{
    background: rgba(18, 126, 0, 0.39);
  }
}


/*font*/
.font-Orbitron{
  font-family: 'Orbitron', sans-serif;
}
.font-roboto{
  font-family: 'Roboto', sans-serif;
}
.font-bold{
  font-weight: bolder;
}
.font-light{
  font-weight: lighter;
}


/*style*/
p{
  font-size: 1.3em;
  line-height: 1.5em;
}
footer p{
  font-size: 1em;
}

header{
  z-index: 1;
  position: fixed;
  max-height: 80px;
  background: rgba(36, 255, 0, 0.39);
  width: 100%;
  top:0px;
}
.header-bar .icon:hover{
  /*float: left;*/
  background: rgba(30, 194, 3, 0.38);
}
.header-bar .button-text{
  /*font-weight: bold;*/
  font-size: 1.5em;
  color:black;
}
.header-bar .icon{
  margin-bottom: 0px;
}

.header-bar #header-logo{
  max-height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*margin-right: 50px;*/
}
.header-bar img{
  max-height: 45px;
}

/*mobile header*/

#header-mo{
  background: white;
  border-bottom: solid 1px #ededed;
}
#header-mo button{
  background: white;
  border:solid 1px rgb(117, 117, 117);
}
#header-mo button span{
  border-bottom:  solid 2px rgb(117, 117, 117);
}
#header-mo li{
  font-size: 1.3em;
  margin-left: 2em;
  border-bottom: solid 1px rgb(117, 117, 117);
}
#header-mo img{
  height: 50px;
  width: auto;
  position: fixed;
  top:0px;
}



#main-visual{
  margin-top: 80px;
  width: 100%;
  max-height: 600px;
  /*background-image: url('../img/main-visual.jpg');*/
}
#main-visual .img-area{
  /*width: 100%;
  max-height: 600px;
  z-index: 1;
  display:-webkit-flex;/*--- safari（PC）用 ---*/
  /*display:flex;
  -webkit-justify-content: center;/*--- safari（PC）用 ---
  justify-content: center;*/
}#main-visual .img-area img{
  /*max-width: 680px;
  width: 100%;
  height: auto;*/
  /*overflow: hidden;*/
}
#main-visual .logo-img{
  height: 50px;
  margin-top: -600px;
}
#main-visual .date{
  margin-top: -300px;
}




/**********************************************************/
#main-contents-area{
  background: rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;
}
#main-contents-area .section-box{
  box-sizing: border-box;
  box-shadow: -7px 9px 5px 4px rgba(0, 255, 163, 0.4);
  background: white;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#main-contents-area  .title{
  box-sizing: border-box;
  height: 50px;
  /*border: solid 1px black;*/
  /*font-size: 3em;*/
}
#main-contents-area .title-hover{
  display: none;
}

#news{
}

#about{
}
#about img{
  width: 100%;
}
#about .title{
}
#about .text{
  /*margin-top: 50px;*/
  /*border: solid 1px black;*/
}

#live{
}
#live img{
  width: 100%;
}
#live .title{
}
#live .text{
  margin-top: 50px;
  /*border: solid 1px black;*/
}


#gallery{
}
#gallery > .bxslider > div{
  /*https://blog.mismithportfolio.com/web/20151027cssimageplace#d*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#gallery img{
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 400px;
}





footer{
  background: rgb(115, 115, 115);
  text-align: center;
  margin-bottom: 0px;
  padding-top: 20px;
}
footer h2,
footer p{
  font-weight: lighter;
}
footer h2:first-child{
  padding-top: 0px;
  margin-top: 0px;
}
footer p:last-child{
  padding-bottom: 0px;
  margin-bottom: 0px;
}


/* 個別ページ用共通スタイル */
.page-title{
  font-weight: bold;
  font-size: 5em;
}
.page-sub-title{
  font-weight: normal;
}
